.map-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-black);
    border-radius: 12px;
    box-shadow: var(--shadow-lg);
    color: var(--color-off-white);
    font-family: 'Montserrat', sans-serif;
}

.checklist {
    flex: 1;
    max-width: 300px;
    background-color: var(--color-dark);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
}

.checklist h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-gold-light);
    text-align: center;
}

.checklist-scroll {
    overflow-y: auto;
    max-height: 700px; 
    padding-right: 4px;
}

.checklist-scroll::-webkit-scrollbar {
    width: 8px;
}

.checklist-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-gold);
    border-radius: 8px;
}

#heatmapChecklist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox-item {
    background-color: var(--color-gray);
    padding: 0.6rem;
    border-radius: 8px;
    transition: background-color var(--transition-fast);
}

.checkbox-item:hover {
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.checkbox-item input[type="radio"] {
    margin-right: 0.6rem;
    accent-color: var(--color-gold);
    transform: scale(1.2);
}

.map-display {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: var(--shadow-md);
}

#mapImage {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
}

.map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .heatmap-info {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-gold-light);
    background-color: var(--color-light-gray);
    padding: 8px 12px;
    border-radius: 6px;
    width: 400px;
    height: 45px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px var(--color-dark);
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  

  .heatmap-mode-switch{
    text-align: center;
    margin-bottom: 10px;
  }
  
  #toggleModeBtn {
    background-color: var(--color-black);
    color: var(--color-gold);
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
  }