/* Plan Page Styles */

/* Titre principal de la section de scan */
.scans-main-title {
    background-color: var(--color-dark);
    padding: 3rem 1rem;
    text-align: center;
    border-bottom: 1px solid var(--color-gold-dark);
}

.scans-main-title h2 {
    color: var(--color-gold);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.scans-main-title p {
    color: var(--color-off-white);
    font-size: 1.1rem;
}



/* Existing Maps Section */


.btn-save, .btn-load {
    background-color: var(--color-gold-dark);
    color: var(--color-dark);
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;  
    text-decoration: none;
    flex: 1;
    text-align: center;
    margin: 0 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-save:hover, .btn-load:hover{
    background-color: var(--color-gold);
    transform: translateY(-2px);
}