.map-actions {
    background-color: var(--color-dark);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clickCoords {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-gold-dark);
    margin-bottom: 1rem;
    text-align: center;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

#mapImage {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-gold);
    border-radius: 12px;
    cursor: crosshair;
}

.btn-end {
    background-color: var(--color-gold-dark);
    color: var(--color-dark);
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    flex: 1;
    text-align: center;
    margin: 0 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-end:hover {
    background-color: var(--color-gold);
    transform: translateY(-2px);
}

.scan-progress {
    width: 100%;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.scan-bar {
    width: 0;
    height: 100%;
    background-color: var(--color-gold-dark);
    animation: loadingBar 3s linear forwards;
}

.hidden {
    display: none;
}

@keyframes loadingBar {
    from { width: 0%; }
    to { width: 100%; }
}

.scan-point {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--color-red);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
  }