<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>WiFi Heatmap</title>
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="/static/plans.css">
  <link rel="stylesheet" href="/static/heatmap.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <header class="plans-header">
    <div class="go-back">
      <a href="/" class="go-back-button">{{ translations.header.button }}</a>
    </div>
    <div class="container">
      <h1>WiFi Heatmap</h1>
      <p class="tagline">{{ translations.header.tagline }}</p>
    </div>
    <div class="language-selector">
      {% if current_lang == 'fr' %}
        <a href="/change_language/en?next={{ ('/maps/' ~ map_name)|urlencode }}" class="lang-button lang-button-en">EN</a>
      {% else %}
        <a href="/change_language/fr?next={{ ('/maps/' ~ map_name)|urlencode }}" class="lang-button lang-button-fr">FR</a>
      {% endif %}

    </div>
  </header>

  <section class="heatmap">
    <div class="map-container">
      <div class="checklist">
        <h2>{{ translations.checklist.title }}</h2>
        <form id="heatmapChecklist">
          {% for item in ssid_band_list %}
          <div class="checkbox-item">
              <label>
                  <input type="radio" name="heatmap" value="{{ item }}">
                  {{ item }}
              </label>
          </div>
          {% endfor %}
        </form>
      </div>
      <div class="map-display">
        <img id="mapImage" src="{{ map_url }}" alt="{{ map_name }}">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>{{ translations.footer.copyright }}</p>
    </div>
  </footer>
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const checklist = document.getElementById("heatmapChecklist");

    checklist.addEventListener("change", async (e) => {
      if (e.target.name === "heatmap") {
        const selectedKey = encodeURIComponent(e.target.value);
        const mapName = "{{ map_name }}";
        const url = `${mapName}/data/${selectedKey}`;

        try {
          const response = await fetch(url);
          if (!response.ok) throw new Error("Error charging data");

          const data = await response.json();
          console.log("Data received :", data);

          // drawHeatmap(data);
        } catch (err) {
          console.error("Error charging the heatmap :", err);
        }
      }
    });
  });
  </script>
  </body>
</html>
