<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>WiFi Heatmap - Guide</title>
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="/static/plans.css">
  <link rel="stylesheet" href="/static/help.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="plans-header">
      <div class="go-back">
        <a href="/" class="go-back-button">{{ translations.header.button }}</a>
      </div>
      <div class="container">
        <h1>WiFi Heatmap</h1>
        <p class="tagline">{{ translations.header.tagline }}</p>
      </div>
      <div class="language-selector">
        {% if current_lang == 'fr' %}
            <a href="/change_language/en?next=/help" class="lang-button lang-button-en">EN</a>
        {% else %}
            <a href="/change_language/fr?next=/help" class="lang-button lang-button-fr">FR</a>
        {% endif %}
        </div>
    </header>


    <div class="help-container">
        <nav class="help-nav">
            <ul>
                <li><a href="#tutorial">{{ translations.nav.tutorial }}</a></li>
                <li><a href="#how-to">{{ translations.nav.how_to }}</a></li>
                <li><a href="#explanation">{{ translations.nav.explanation }}</a></li>
                <li><a href="#reference">{{ translations.nav.reference }}</a></li>
            </ul>
        </nav>


        <main class="help-content">

            <section id="tutorial">
                <h1>{{ translations.tutorial.main_title | safe }}</h1>
                <p>{{ translations.tutorial.main_desc | safe }}</p>

                <h3>{{ translations.tutorial.title_1 | safe }}</h3>
                <p>{{ translations.tutorial.description_1 | safe }}</p>
                <img src="{{ translations.tutorial.img_1 }}" alt="Charger un plan">

                <h3>{{ translations.tutorial.title_2 | safe }}</h3>
                <p>{{ translations.tutorial.description_2 | safe }}</p>
                <img src="{{ translations.tutorial.img_2 }}" alt="Scanner le Wi-Fi">

                <h3>{{ translations.tutorial.title_3 | safe }}</h3>
                <p>{{ translations.tutorial.description_3 | safe }}</p>
                <img src="{{ translations.tutorial.img_3 }}" alt="Visualiser la carte">
            </section>

            <section id="how-to">
                <h2>{{ translations.how_to.main_title | safe }}</h2>

                <h3>{{ translations.how_to.title_1 | safe }}</h3>
                <p>{{ translations.how_to.description_1 | safe }}</p>
                <img src="{{ translations.how_to.img_1 }}" alt="Sauvegarder et charger des scans">

                <h3>{{ translations.how_to.title_2 | safe }}</h3>
                <p>{{ translations.how_to.description_2 | safe }}</p>
                <img src="{{ translations.how_to.img_2 }}" alt="Supprimer un plan">

                <h3>{{ translations.how_to.title_3 | safe }}</h3>
                <p>{{ translations.how_to.description_3 | safe }}</p>
                <img src="{{ translations.how_to.img_3 }}" alt="Passer en mode canal">
            </section>

            <section id="explanation">
                <h2>{{ translations.explanation.main_title | safe }}</h2>

                <h3>{{ translations.explanation.title_1 | safe }}</h3>
                <p>{{ translations.explanation.description_1 | safe }}</p>

                <h3>{{ translations.explanation.title_2 | safe }}</h3>
                <p>{{ translations.explanation.description_2 | safe }}</p>
            </section>

            <section id="reference">
                <h2>{{ translations.reference.main_title | safe }}</h2>

                <h3>{{ translations.reference.title_1 | safe }}</h3>
                <p>{{ translations.reference.description_1 | safe }}</p>

                <h3>{{ translations.reference.title_2 | safe }}</h3>
                <p>{{ translations.reference.description_2 | safe }}</p>
            </section>

        </main>
    </div>

    <footer>
        <div class="container">
            <p>&copy; {{ translations.footer.copyright }}</p>
        </div>
    </footer>
</body>
</html>